{
	log {
		format filter {
			request>uri delete
			wrap json
		}
	}
}

http://{$MASTER_TEST_HOST} {
	redir https://{$MASTER_TEST_HOST}{uri} 308
}

{$MASTER_TEST_HOST} {
	@ownerConsole path_regexp ownerConsole (?i)^/owner(?:/|$)
	respond @ownerConsole "Not found" 404
	reverse_proxy master:8080
}
